@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
  /* font-family: "Inter", sans-serif; */
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #2b2b2b;
}

.inter__bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: 1.25;
}

.inter__semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  line-height: 1.25;
}

.app__section {
  min-height: 100vh;
  background-color: #1cb4b4;
  background-image: linear-gradient(to bottom,#1cb4b4 0%,#00d4b0 100%);
  padding: 20px 10px 60px;
}

.container {
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.drop__shadow {
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

/* DicomViewer */
.ct__window {
  width: 100%;
  max-width: 1000px;
  padding-top: 120px;
}

.dicom-viewer {
  min-height: 650px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.65);
}

.upload-box {
  transition: border-color 0.2s;
}

.upload-box:hover {
  border-color: #1cb4b4;
}

.upload-icon {
  width: 7.5rem;
  height: 7.5rem;
  margin-bottom: 2.5rem;
  margin-top: 3.5rem;
  -webkit-user-drag: none;
  user-select: none;
  margin-left: auto;
  margin-right: auto;
}

/* Benefits Container */
.benefits__container {
  background-color: rgba(255, 255, 255, 0.65);
  max-width: 1200px;  
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  border-radius: 2rem;
  padding: 80px 80px 50px 80px;
}

.benefits__item {
  display: flex;
  justify-content: center;
}

.benefits__tile {
  background-color: #ddf9f5;
  padding: 11rem 3rem 3rem 3rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.benefits__item:hover .benefits__tile {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.overlay-image {
  position: absolute;
  -webkit-user-drag: none;
  user-select: none;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 180px;
}

